<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>Index</title>
	<meta charset="utf-8" />

    <!--Bootstrap Css-->
    <link rel="stylesheet" type="text/css" href="./Content/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./Content/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="./Content/style.css">

</head>
<body ng-controller="Main as controller">

    <div class="container">
        <!--Account table-->
        <div class="col-md-7">
            <h2>Bank Account</h2>
            <p>Account Balance: ${{controller.balance()}}</p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Type</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="entry in controller.entries">
                        <td>{{entry.name}}</td>
                        <td>{{entry.date.getMonth()+1}}/{{entry.date.getDate()}}/{{entry.date.getFullYear()}}</td>
                        <td>{{entry.type}}</td>
                        <td class="{{entry.type}}">
                            ${{entry.cost}}
                            <a style="float: right;" ng-click="controller.removeEntry(entry)"><span class="glyphicon glyphicon-remove"></span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--Entry section-->
        <div class="col-md-5">
            <h2>New Entry:</h2>
            <form name="entryForm" role="form" novalidate>
                
                <!--Name input-->
                <div class="form-group" ng-class="{ 'has-error' : entryForm.name.$invalid && entryForm.name.$touched }">
                    <label for="name">Name:</label>
                    <input type="text" name="name" class="form-control" ng-model="controller.formEntryName" required/>
                    <p ng-if="entryForm.name.$invalid && entryForm.name.$touched" class="help-block">Name is required.</p>
                </div>

                <!--Date input-->
                <div class="form-group" ng-class="{ 'has-error' : entryForm.date.$invalid && entryForm.date.$touched }">
                    <label for="date">Date:</label>
                    <input id="date" type="date" name="date" class="form-control" ng-model="controller.formEntryDate" required/>
                    <p ng-if="entryForm.date.$invalid && entryForm.date.$touched" class="help-block">Date is required.</p>
                </div>

                <!--Type select-->
                <div class="form-group" ng-class="{ 'has-error' : entryForm.type.$invalid && entryForm.type.$touched}">
                    <label for="type">Type:</label>
                    <select ng-model="controller.formEntryType" class="form-control" name="type" required>
                        <option value="" style="display: none;"  disabled>Please select</option>
                        <option value="Expense" selected>Expense</option>
                        <option value="Income">Income</option>
                    </select>
                </div>

                <!--Cost input-->
                <div class="form-group" ng-class="{ 'has-error' : entryForm.cost.$invalid && entryForm.cost.$touched }">
                    <label for="cost">Cost:</label>
                    <input type="number" name="cost" class="form-control" ng-model="controller.formEntryCost" required/>
                    <p ng-if="entryForm.cost.$invalid && entryForm.cost.$touched" class="help-block">Cost is required.</p>
                </div>

                <button type="submit" ng-disabled="entryForm.$invalid" ng-click="controller.addEntry()" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Add Entry</button>
            </form>
        </div>
    </div>

    <!--Script libraries-->
    <script src="./Scripts/angular.min.js"></script>
    <script src="./Scripts/jquery-2.1.4.min.js"></script>
    <script src="./Scripts/bootstrap.min.js"></script>
    <script src="./app/app.module.js"></script>
    <script src="./app/controllers/main.js"></script>    
    
    <!--Bootstrap page specific javascript-->
    <script>
        $('#date').tooltip({ 'trigger': 'focus', 'title': 'Date input does not work on IE9 and lower.' });
    </script>

</body>
</html>
