@{
    Layout = "./Shared/_Layout.cshtml";

    PageData["Controller"] = "Interest";
    Page.Title = "Interest Calculators";
}
<div class="col-md-12">
    <h2>Interest Calculators</h2>
    <div class="col-md-6">
        <p>Compounding interest</p>

        <form name="compoundInterestForm" class="form-horizontal" role="form" novalidate>

            <!--Starting input-->
            <div class="form-group" ng-class="{ 'has-error' : compoundInterestForm.starting.$invalid && compoundInterestForm.starting.$touched }">
                <label class="control-label col-sm-4 pull-left" for="name">Starting amount:</label>
                <div class="col-sm-6 pull-right">
                    <input type="number" name="starting" class="form-control" ng-model="controller.compStarting" required />
                    <p ng-if="compoundInterestForm.starting.$invalid && compoundInterestForm.starting.$touched" class="help-block">
                        Starting amount is required.
                    </p>
                </div>
            </div>

            <!--Addition input-->
            <div class="form-group" ng-class="{ 'has-error' : compoundInterestForm.addition.$invalid && compoundInterestForm.addition.$touched }">
                <label class="control-label col-sm-4 pull-left" for="name">Monthly addition:</label>
                <div class="col-sm-6 pull-right">
                    <input type="number" name="addition" class="form-control" ng-model="controller.compAddition" required />
                    <p ng-if="compoundInterestForm.addition.$invalid && compoundInterestForm.addition.$touched" class="help-block">Monthly addition is required.</p>
                </div>
            </div>

            <!--Time to compound input-->
            <div class="form-group" ng-class="{ 'has-error' : compoundInterestForm.times.$invalid && compoundInterestForm.times.$touched }">
                <label class="control-label col-sm-4 pull-left" for="name">Number of times to compound annually:</label>
                <div class="col-sm-6 pull-right">
                    <input type="number" name="times" class="form-control" ng-model="controller.compTimes" required />
                    <p ng-if="compoundInterestForm.times.$invalid && compoundInterestForm.times.$touched" class="help-block">
                        Number of times to compound is required.
                    </p>
                </div>
            </div>

            <!--Years input-->
            <div class="form-group" ng-class="{ 'has-error' : compoundInterestForm.years.$invalid && compoundInterestForm.years.$touched }">
                <label class="control-label col-sm-4 pull-left" for="name">Years:</label>
                <div class="col-sm-6 pull-right">
                    <input type="number" name="years" class="form-control" ng-model="controller.compYears" required />
                    <p ng-if="compoundInterestForm.years.$invalid && compoundInterestForm.years.$touched" class="help-block">
                        Number of years is required.
                    </p>
                </div>
            </div>

            <!--Rate input-->
            <div class="form-group" ng-class="{ 'has-error' : compoundInterestForm.rate.$invalid && compoundInterestForm.rate.$touched }">
                <label class="control-label col-sm-4 pull-left" for="name">Interest rate:</label>
                <div class="col-sm-6 pull-right">
                    <input type="number" name="rate" class="form-control" ng-model="controller.compRate" required />
                    <p ng-if="compoundInterestForm.rate.$invalid && compoundInterestForm.rate.$touched" class="help-block">
                        Interest rate is required.
                    </p>
                </div>
            </div>

            <button type="submit" ng-disabled="compoundInterestForm.$invalid" ng-click="controller.showCompOutput()" class="btn btn-default pull-left">
                Calculate compound interest
            </button>

            <p ng-if="controller.compOuput" class="pull-right" style="padding: 10px;">
                Future amount: ${{controller.calCompound()}}
            </p>

        </form>
    </div>
    

    <div class="col-md-6">
        <p>Simple interest</p>
        <form name="simpleInterestForm" class="form-horizontal" role="form" novalidate>

        </form>
    </div>
</div>